{{> header}}

<div class="inner-container">
<h2 class="page-header">Edit Author</h2>
{{#each writers}}
<form action="/authors/{{user_id}}?_method=PUT" method="POST">
    {{> form_fields}}
    <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/authors/{{user_id}}">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>
{{/each}}
</div>