{{> header}}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        let errMsg = document.getElementById("error");
        if(errMsg.innerHTML !== "") {
            setTimeout(function () {
                errMsg.innerHTML = "";
            }, 4000);
        }
    })
</script>

<div class="inner-container">
<h2 class="page-header">Search Writers</h2>
<div class="error" id="error">{{messages.err}}</div>
<form action="/writers" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label for="name">Name</label>
            <input type="text" name="name" required>
        </div>
    </div>
    <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<br>
{{#each writers}}
    <div class="author-row">
        <div class="author-item">
            <div>{{fullname}}</div>
            <div>{{bio}}</div>
        </div>

    <div class="btn-row">
    <a class="btn btn-primary" href="/writers/{{user_id}}">View</a>
    </div>
    </div>
{{/each}}
</div>