{{> header}}

<div class="inner-container">
<h2 class="page-header">Search Books</h2>
<form action="/books" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label for="title">Name</label>
            <input type="text" name="title">
        </div>
    </div>

    <div class="form-row">
        <div class="form-item">
            <label for="published_after">Published After</label>
            <input type="date" name="published_after">
        </div>
        <div class="form-item">
            <label for="published_before">Published Before</label>
            <input type="date" name="published_before">
        </div>
    </div>
    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>

</form>
<br>
{{> bookGrid}}
</div>