<div class="form-row">
    <div class="form-item">
        <label for="name"><b>Name</b></label>
        <input type="text" name="name" required>
    </div>
    <div class="form-item">
        <label for="description"><b>Description</b></label>
        <input type="text" name="description" required>
    </div>
</div>
