<header>
    <div>
        <img src="/images/dinosaur.svg">
        <h2>the<br>reposi-story</h2>
    </div>
    <nav>
        <ul class="header-nav-links" id="myTopnav">
            <li class="link"><a href="/home">Home</a></li>
            <li class="link"><a href="/posts/poems">Poems</a></li>
            <li class="link"><a href="/posts/stories">Short Stories</a></li>
            <li class="link"><a href="/posts/blogs">Blog Posts</a></li>
            <li class="link"><a href="/posts/others">Others</a></li>
            <li class="link"><a href="/writers">Writers</a></li>
            <li class="link"><a id="profile-link" href="/profile/{{sessUser}}">Profile</a></li>
            <li class="link"><a href="/logout">Logout</a></li>
            <li><a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a></li>
        </ul>
    </nav>
</header>

