<header>
    <nav class="header-nav">
        <a class="header-title" href="/home">the Reposi-story</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Author</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/books/new">Add Book</a></li>
            <li><a href="/logout">Log out</a></li>
        </ul>
    </nav>
    <hr class="header-line">
</header>