{{> header}}

<!--<div class="inner-container">-->
<!--<h3>Home Page</h3>-->
<!--<p>Home page of app comes here</p>-->
<!--<p>{{sessUser}}</p>-->
<!--<br>-->
<div class="inner-container">
<h2 class="page-header">Recently Added</h2>
{{> bookGrid}}
</div>


