<div class="indexflex">
    <div class="indexInfo">
        <h1>Welcome to <br> the reposi-story</h1><img src="images/dinosaur.svg">
        <p>A place where creative writers get to be... well, creative! Meet writers from all over the world,
        share your work, explore others', discover your next favourite writer and maybe learn something?
            Get ready to get those creative juices flowing. The metaphors, the wordplay, the rhyme schemes, we'd
            love to see them all. Whether it's a poem, a short story, blog post, or even a song, go ahead and
            share that masterpiece!</p>
    </div>

    <!-- Login Form -->
    <form class="indexFormcls" action="/auth" method="POST">
        <img src="images/undraw_typewriter.svg" alt="Avatar" class="avatar">
        <div id="appTitle">the Reposi-story</div>
        <div class="error" id="error">{{error}}</div>

        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" id="uname" class="txtform" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" class="txtform" required>

            <button type="submit" name="submit" id="loginbtn" class="indexButtons">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
            <span class="psw">Forgot <a href="#">password?</a></span>
            <p id="signup">Don't have an account?<a href="/gotoSignUp"><u>Sign Up Here</u></a></p>
        </div>
    </form>
</div>