@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

/*:root {*/
/*  font-family: "Open Sans", sans-serif;*/
/*  !*background-image: url(images/background_two.jpg);*!*/
/*  !*background-size: cover;*!*/
/*  background-color: #CFD8DC;*/
/*}*/

.indexFormcls {
  background-color: white;
  margin: 30px 5%;
  width: 15%;
  overflow: auto;
  /*margin-top: 30px;*/
  line-height: 25px;
  box-shadow: 20px 20px 14px 0.3px rgb(73, 79, 82);
  border-radius: 20px;
  flex: 50%;
  /*padding: 70px;*/
}

.indexflex {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.indexInfo {
  background-color: #00796B;
  flex: 50%;
  padding: 50px 50px 10px 50px;
  line-height: 200%;
  color: white;
  margin: -10px;
}

.indexInfo h1 {
  line-height: 150%;
}

.indexInfo img {
  width: 20%;
  height: 20%;
  float: left;
  padding-right: 15px;
}

.txtform {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: white;
}

.txtform:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 14px 0.3px #00796B;
}

.indexButtons {
  background-color: #00796B;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

u{
  color: #00796B;
}

u:hover{
  color: black;
  cursor: pointer;
}

a{
  color: #00796B;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  /*background-color: #f44336;*/
  background-color: #B00020;
  color: white;
  cursor: pointer;
}


img.avatar {
  padding: 5px;
  height: 150px;
  width: 150px;
  margin: auto;
  margin-top: 30px;
  display: block;
  border: none;
}

.container {
  padding: 5px 20px;
}

.modal-content .container {
  margin-bottom: 30px;
}

.error{
  color: #B00020;
  margin: auto;
  width: 96%;
  height: 25px;
  padding-top: 9px;
  padding-left: 5px;
}

.signuperror{
  color: #B00020;
  float: right;
  font-size: 13px;
  display: none;
}

span.psw {
  float: right;
  padding-top: 0px;
}

#appTitle {
  margin: auto;
  width: 80%;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  margin-top: 10px;
  color: rgb(73, 79, 82);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /*background-color: rgb(0,0,0,0.4);*/
  padding-top: 50px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 20px;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#signup{
  float: right;
  padding-top: 15px;
  margin-right: 0px;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 800px) {
  .cancelbtn, .indexButtons {
    width: 100%;
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 800px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }

  .indexFormcls{
    width: 100%;
  }

  .modal-content{
    width: 100%;
  }

  .indexflex {
    flex-wrap: wrap;
  }
}


