.author-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.author-item {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    font-size: 1rem;
}
