.author-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
}

.author-item {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    font-size: 1rem;
}

.author-base-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.comment-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media screen and (max-width: 700px){
    .author-item {
        width: 100%;
        text-align: left;
        padding-bottom: 15px;
    }

    .author-row {
        align-items: center;
    }
}
