:root {
    --form-label-font-size: 1.2rem;
    --form-input-background-color: hsl(0, 100%, 100%);
    --form-input-border-color: var(--color-text-light);
    --form-input-border-color-light: hsl(0, 0%, 90%);
}

.search-form {
    margin: 2rem auto 5rem auto;
    width: 60%;
}

.search-item input {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: .7rem .5rem;
    border: none;
    border-bottom: 1px solid #000000;
    font-size: 18px;
}

.search-btn button {
    background-color: #00b8a2;
    border: none;
    border-radius: 10px;
    width: 20%;
    color: white;
    padding: 12px 22px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: -20px;
    float: right;
}

.search-btn button:hover {
    opacity: 0.7;
}

.form-form {
    margin: auto;
    width: 85%;
}

.form-row {
    display: flex;
    /*justify-content: space-between;*/
    align-items: flex-start;
    margin-bottom: .5rem;
    flex-wrap: wrap;
    /*flex-wrap: wrap;*/
    /*width: 100%;*/
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    flex-grow: 1;
    flex-basis: 0;
}


.file-select {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: .5rem;
    cursor: pointer;
    background-color: white;
}

.img-preview {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: .5rem;
    cursor: pointer;
    display: none;
}

/*.form-item:hover {*/
/*    background-color: #ffffff;*/
/*    box-shadow: 0px 0px 14px 1px #00796B;*/
/*}*/

/*.form-flex {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    align-items: baseline;*/
/*    margin: auto;*/
/*    width: 100%;*/
/*    background-color: blue;*/
    /*width: 100%;*/
/*}*/


/*.form-item {*/
    /*margin: 40px 5px 20px 5px;*/
    /*!*width: 100%;*!*/
    /*width: 800px;*/
    /*height: 100%;*/
    /*background-color: gold;*/
    /*flex: 90%;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*margin-left: 2rem;*/
    /*flex-grow: 1;*/
    /*flex-basis: 0;*/
    /*max-width: 1000px;*/
/*}*/

/*.form-btn {*/
/*    flex: 10%;*/
/*    margin-right: 5px;*/
/*}*/

/*.form-item input {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    height: 100%;*/
/*}*/

.form-item.excerpt {
    margin-left: 2rem;
}

.form-item:first-child {
    margin-left: 0;
}

.form-item-no-grow {
    flex-grow: 0;
}

.form-item.form-item-no-grow label {
    margin-bottom: 15px;
}

.form-item.form-item-no-grow.prof {
    margin-right: 25px;
    margin-bottom: 15px;
}

.form-row-end {
    justify-content: flex-end;
    margin-bottom: 50px;
}

.form-item input, .form-item select, .form-item textarea {
    height: 100%;
    padding: .5rem .5rem;
    border: none;
    border-bottom: 1px solid var(--form-input-border-color);
    background-color: var(--form-input-background-color);
    color: var(--color-text-light);
    font-size: 1rem;
    font-weight: normal;
    margin: 10px;
    outline: none;
}

.form-item textarea {
    height: 100%;
    resize: vertical;
    white-space: pre-wrap;
}

/*.form-item input:focus, .form-item select:focus, .form-item textarea:focus {*/
/*    border-color: var(--form-input-border-color-light);*/
/*}*/

.edit-error{
    color: #B00020;
    float: right;
    font-size: 13px;
    display: none;
}

.acc-edit-error {
    color: #B00020;
    float: right;
    font-size: 13px;
    display: none;
}

#hrt {
    width: 150%;
    height: 150%;
    color: darkgrey;
    cursor: pointer;
    margin-left: 20px;
}

#content-label {
    margin-top: 15px;
}

#content-content {
    white-space: pre-wrap;
    height: 300px;
}

@media screen and (max-width: 700px){
    .search-item {
        width: 100%;
        padding: 10px 5px;
        margin-left: 0;
    }

    .search-btn button {
        width: 100%;
        margin-right: -13px;
    }

    .form-item.excerpt {
        margin-left: 0;
        margin-top: 15px;
    }

    #email-form {
        margin-bottom: 50px;
    }

    .form-item-no-grow.prof {
        justify-content: center;
    }

    #excerpt {
        height: 100px;
    }
}