:root {
    --form-label-font-size: 1.2rem;
    --form-input-background-color: hsl(0, 100%, 100%);
    --form-input-border-color: var(--color-text-light);
    --form-input-border-color-light: hsl(0, 0%, 90%);
}

.form-row {
    display: flex;
    margin-bottom: .5rem;
    flex-wrap: wrap;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    flex-grow: 1;
    flex-basis: 0;
}

.form-item:first-child {
    margin-left: 0;
}

.form-item-no-grow {
    flex-grow: 0;
}

.form-row-end {
    justify-content: flex-end;
    margin-bottom: 50px;
}

.form-item > label {
    font-size: var(--form-label-font-size);
    margin-bottom: .25rem;
    margin-left: .25rem;
}

.form-item input, .form-item select, .form-item textarea {
    height: 2rem;
    padding: .25rem .5rem;
    border-radius: .25rem;
    border: 1px solid var(--form-input-border-color);
    background-color: var(--form-input-background-color);
    color: var(--color-text-light);
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Calibri';
    outline: none;
}

.form-item textarea {
    height: 100%;
    /*resize: none;*/
    white-space: pre-wrap;
}

.form-item select option {
    background-color: var(--color-primary-light);
}

.form-item input:focus, .form-item select:focus, .form-item textarea:focus {
    border-color: var(--form-input-border-color-light);
}

.edit-error{
    color: #B00020;
    float: right;
    font-size: 13px;
    display: none;
}

.acc-edit-error {
    color: #B00020;
    float: right;
    font-size: 13px;
    display: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0,0.4);
    padding-top: 50px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

@media screen and (max-width: 700px){
    .form-item {
        width: 100%;
        padding: 10px 5px;
        margin-left: 0;
    }
}