:root {
    --nav-title-font-size: 3rem;
    --nav-title-font-weight: bold;
    --nav-link-font-weight: 300;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    min-height: 10vh;
    background: rgb(73, 79, 82);
    color: white;
}

nav a{
    color: white;
    text-decoration: none;
}


.header-nav-links {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.header-nav-links li a{
    color: white;
    text-decoration: none;
    float: left;
    padding-right: 50px;
    padding-left: 50px;
}

.header-nav-links .icon {
    display: none;
}

header {
    display: flex;
    flex-direction: column;
}

header div {
    background-color: #00d1b9;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}

header div img {
    float: left;
    width: 10%;
    height: 10%;
    padding-right: 20px;
}

header div h2 {
    color: var(--color-secondary);
    font-size: 200%;
}

.header-nav-links li a:hover, nav a:hover {
    color: var(--color-primary);
}

@media screen and (max-width: 700px) {
    .link {display: none;}
    .header-nav-links li a.icon {
        float: right;
        display: block;
    }
    .header-nav-links {
        justify-content: flex-end;
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .header-nav-links.responsive {position: relative;}
    .header-nav-links.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .header-nav-links.responsive li {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
    }

    .header-nav-links.responsive {
        flex-wrap: wrap;
    }

    .header-nav-links.responsive li:not(:last-child) {
        padding: 10px 0;
    }
}
