{{> header}}

<div class="inner-container">
    <form class="search-form" action="/posts/blogs" method="GET">
        <div class="search-item">
            <input type="text" placeholder="Search Blog Posts" name="search">
        </div>

        <div class="search-btn">
            <button type="submit">Search</button>
        </div>
    </form>
    <br>
    <div class="book-grid">
    {{#each results}}
        {{> bookGrid}}
    {{/each}}
    </div>

    <a href="/posts/new" class="fr fr-plus">&plus;</a>
</div>