{{> header}}

<div class="inner-container">
<h2 class="page-header">Edit Post</h2>
{{msg}}
    {{#each results}}
    <form action="/posts/{{post_id}}?_method=PUT" method="POST" enctype="multipart/form-data">

         {{> form_fields_posts}}

        <div class="form-row form-row-end btn-row">
    <!--    <a class="btn btn-danger" href="/books/{{book_id}}">Cancel</a>-->
        <button class="btn btn-primary" type="submit">Update</button>
        </div>
    </form>
    {{/each}}
</div>

