{{> header}}

<div class="inner-container">
<h2 class="">New Post</h2>
{{msg}}
<form class="form-form" action="/posts" method="POST" enctype="multipart/form-data">
    {{> form_fields_posts}}

    <div class="form-row form-row-end btn-row">
    <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>
</div>


<script>
    const fileSelect = document.getElementById("fileSelect"),
            coverInpt = document.getElementById("cover"),
            preview = document.getElementById("preview");

    fileSelect.addEventListener("click", function (e) {
        e.preventDefault();
        if (coverInpt) {
            coverInpt.click();
        }
    }, false);

    preview.addEventListener('click', function (e) {
        e.preventDefault();
        if(coverInpt){
            coverInpt.click();
        }
    }, false);

    function handleFiles() {
        let reader = new FileReader();
        reader.readAsDataURL(coverInpt.files[0]);

        reader.onload = function (e) {
            preview.src = e.target.result;
        };

        fileSelect.style.display = 'none';
        preview.style.display = 'block';
    }
</script>