{{> header}}

<div class="inner-container">
<h2 class="page-header">New Post</h2>
{{msg}}
<form action="/posts" method="POST" enctype="multipart/form-data">
    {{> form_fields_posts}}
    <div class="form-row form-row-end btn-row">
<!--    <a class="btn btn-danger" href="/books">Cancel</a>-->
    <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>
</div>