{{> header}}

<div class="inner-container">
{{err}}
{{#each authors}}
<h2 class="page-header">{{author_name}}</h2>
<div class="btn-row">
<a class="btn btn-primary" href="/authors/{{author_id}}/edit">Edit</a>
<form method="POST" action="/authors/{{author_id}}?_method=DELETE">
    <button class="btn btn-danger" type="submit">Delete</button>
</form>
</div>
{{/each}}

{{#if books}}
    <h2>Books by Author</h2>
    {{> bookGrid}}
{{/if}}
</div>

